/* body {
  background-color: yellow;
} */

* {
  font-family: 'Open Sans Condensed', sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
 text-align: center;
 text-transform: uppercase;
 font-size: 7vw;
 line-height: 0.25;
}

hr { 
  color: black;
}

.on {
  animation: raveOn 0.25s;
  animation-iteration-count: 11;
  animation-timing-function: ease-in; 
  background-color: yellow;

}

@keyframes raveOn{
  0%{
    background-color: white;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  100%{
    background-color: yellow;
  }
}


.strobo-effect {
  animation: shakeIt 150ms;
  animation-iteration-count: 8;
  animation-timing-function: ease-in; 
}

@keyframes shakeIt {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.strobo-container {
  animation: stroboContainer 0.25s;
  animation-timing-function: ease-out; 
  animation-iteration-count: 11;

}

@keyframes stroboContainer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.shrinking {
  /* color: white; */
  font-size: 0;
  animation: shrinking-font 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  line-height: 1;
}

@keyframes shrinking-font {
  0% {
    font-size: 7vw;
    /* line-height: 1; */

  }
  25%{
    line-height: 0.75;

  }
  50% {
    /* line-height: 0.75; */
  }
  75%{
    line-height: 1;
  }
  100% {
    font-size: 0;

  }
}

.stretching {
  font-size: 700vw;
  animation: stretching 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes stretching {
  0% {
    font-size: 1vw;
  }
  50% {
    font-size: 350vw;
  }
  100% {
    font-size: 700vw;
  }

}

